nav ul li a.active {
  background: linear-gradient(
    125.07deg,
    rgba(99, 46, 227, 1),
    rgba(159, 98, 242, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 2px solid #9f62f2;
}
.banner {
  background: linear-gradient(
    135deg,
    rgba(123, 161, 231, 1),
    rgba(170, 160, 220, 1) 51%,
    rgba(80, 102, 199, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.review{
    background: linear-gradient(125.07deg, rgba(99, 46, 227, 1),rgba(159, 98, 242, 1) 100%);
}